# Backend
ALCHEMY_API_KEY=7ge
PRIVATE_KEY=d38b0f
ETHERSCAN_API_KEY=MBI
COINMARKETCAP_API_KEY=c3d4

# Gas reporting
REPORT_GAS=true

# Frontend environment variables
NEXT_PUBLIC_ALCHEMY_API_KEY=7geL
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=5
NEXT_PUBLIC_CONTRACT_ADDRESS=0x
